* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 80%;;
}

#new{
    font-size: 30px;
}
.navbarContainer {
    display: flex;
    justify-content: space-around;

}

.statementBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: .1rem .1rem .25rem rgba(0, 0, 0, 0.534);
    width: 30.0rem;
    margin: 1.0rem;
    color: #222;
    border: .3rem solid black;
    background-color: burlywood;
    border-radius: 1rem;
    box-shadow: .25rem .25rem .75rem black;
}

table {
    width: 100%;
}
#table-head{
    background-color: #fff;

}
#stockSearch {
    text-align: center;
}
th {
    text-align: left;
}

table, th, td {
    border: .1rem solid black;
    border-collapse: collapse;
}

th, td {
    padding: 1.0rem;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

#stocks {
    display: flex;
    justify-content: space-around;
}

.key-metrics-1 {
    color: white;
}
.key-metrics-2 {
    color: white;
}




#stock1 {
    text-align: center;
    width: 30.0rem;
    margin: 3.0rem;
    background-color: black;
}
#stock2 {
    text-align: center;
    width: 30.0rem;
    margin: 3.0rem;
    background-color: black;
}

